@{
  Layout="Shared/_Layout.cshtml";
}


<form action="create-tamagochi" method="post">
  <div class="form-group">
    <label for="name">Name your 'gochi </label>
    <input type="text" name="name" placeholder="get a gochi">
  </div>

</form>
